.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #02030e;
    padding-top: 20px;
    overflow-x: hidden;
    margin-top: 64px;
  }
  
  .sidebar h2 {
    color: white;
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  
  .sidebar ul li a:hover {
    background-color: #1c6b93;
    color: #fff;
  }