.App {
  display: flex;
}

.content {
  margin-left: 250px; /* Deixar espaço para o menu lateral */
  padding: 20px;
  flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

h1 {
  color: #333;
}